# Dependencies
node_modules/
.nx/cache/
.nx/workspace-data/

# Build output
dist/
package/
build-artifacts/

# IDE / System files
.DS_Store
.vscode/
.idea/
*.log


# LuminaJS tracking files 
task.md
walkthrough.md
implementation_plan.md

# Temporary files
temp/
scratch/
docs/
*.tgz
build-artifacts
